body {
    background-color: lightgray;
}

.spacer {
  clear:both;
  height:10px;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.col,.container-fluid{
  padding:0px;
}

#bigheader{
  color:black;
  font-family:arial;
  text-align:center;
}

.menu1{
	display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  background-color: #333333;
}

.menu1:hover
{
  text-decoration: none;
  color: white;
	background-color: #111111;
}

.links1{
	display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  background-color: #333333;
}

.links1:hover
{
  text-decoration: none;
  color: white;
	background-color: #111111;
}
