body {
    background-color: lightgray;
}

.spacer {
  clear:both;
  height:10px;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.col,.container-fluid,.col-sm{
  padding:0px;
}

#bigheader{
  color:black;
  font-family:arial;
  text-align:center;
}

#score{
  color:black;
  font-family:arial;
  text-align:center;
}

canvas {
    padding: 0;
    width:100%;
    max-width: 500px;
    height:auto;
    margin: auto;
    display: block;
    border: 1px solid black;
}

.menu1{
	display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  background-color: #333333;
}

.menu1:hover
{
  text-decoration: none;
  color: white;
	background-color: #111111;
}

.dropdown-menu,.dropdown-item
{
  min-width: 100%;
  padding:0;
}


.score
{
  text-align :center;
}

#commonScore
{
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background-color:darkgray;
  border:2px solid darkgray;
}

#uncommonScore
{
  display: block;
  color: lightgreen;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background-color:darkgray;
  border:2px solid lightgreen;
}

#rareScore
{
  display: block;
  color: blue;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background-color:darkgray;
  border:2px solid blue;
}

#epicScore
{
  display: block;
  color: purple;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background-color:darkgray;
  border:2px solid purple;
}

#legScore
{
  display: block;
  color: yellow;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  margin: 0;
  text-decoration: none;
  background-color:darkgray;
  border:2px solid yellow;
}


#instructions
{
  padding: 0;
  width:100%;
  max-width: 500px;
  height:auto;
  margin: auto;
  display: block;
  border: 2px solid black;
  text-align: center;
}
